* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0 100px;
}

h2 {
    color: beige;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

button {
    border-radius: 10px;
    border: 1px solid beige;
    font-size: 12px;
}

.header {
    width: auto;
    background-color: #8fbc8f;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.main {
    background-color: #4682b4;
    width: auto;
    height: auto;
    min-height: 400px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0 10px;
    gap: 10px;
}

div {
    width: 200px;
    height: 100px;
    background-color: #3333b6;
    color: beige;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: auto;
    background-color: #87ceeb;
    padding-bottom: 10px;
}